POSTGRES_DB=fern
POSTGRES_USER=fern
POSTGRES_PASSWORD=fern
POSTGRES_REPLICATION_USER=repl_user
POSTGRES_REPLICATION_PASSWORD=repl_pass
POSTGRES_REPLICATION_SLOT=fern_replica_slot
POSTGRES_REPLICA_FORCE_RESEED=false
POSTGRES_PORT=5432
POSTGRES_REPLICA_PORT=5433
POSTGRES_SCHEMA=core
REDIS_PORT=6379
KAFKA_PORT=9092
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GATEWAY_PORT=8080
AUTH_SERVICE_PORT=8081
MASTER_NODE_PORT=8082
ORG_SERVICE_PORT=8083
HR_SERVICE_PORT=8084
PRODUCT_SERVICE_PORT=8085
PROCUREMENT_SERVICE_PORT=8086
SALES_SERVICE_PORT=8087
INVENTORY_SERVICE_PORT=8088
PAYROLL_SERVICE_PORT=8089
FINANCE_SERVICE_PORT=8090
AUDIT_SERVICE_PORT=8091
REPORT_SERVICE_PORT=8092
INTERNAL_SERVICE_TOKEN=__GENERATE_INTERNAL_SERVICE_TOKEN__
JWT_SECRET=__GENERATE_JWT_SECRET__
AUTH_COOKIE_NAME=dorabets_session
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=Lax
WORKER_ID=1
TEST_WAIT_SECONDS=90
